@model PhoneTipProject.Models.DataLayer.Users
@{
    ViewBag.Title = "بازیابی کلمه عبور";
    Layout = "~/Views/Shared/_DefualtLayoutPage.cshtml";
}

<div class="alert alert-success">
    <h3>@Model.UserName عزیز</h3>
    <p>ایمیلی حاوی لینک بازیابی کلمه عبور به ایمیل "@Model.Email" ارسال شد ، لطفا وارد ایمیل فوق شوید و بروی لینک کلیک کنید. </p>
</div>