@if (ViewBag.Active == true)
{
    <li><a href="/AdminPanel/Pagesgroups/Index">مدیریت گروه ها</a></li>
    <li><a href="/AdminPanel/Pages/Index">مدیریت صفحات</a></li>
    <li>
        <span>مدیریت کاربران</span>
        <ul>
            <li><a href="/Home/UsersControl">مدیریت کامنت ها</a></li>
            <li><a href="/Home/ListUsers">لیست کاربران</a></li>
        </ul>
    </li>
}

